In [2]:
import pandas as pd

linkedin = pd.read_csv('www/linkedin.csv')
hellowork = pd.read_csv('www/hellowork.csv')
#welcomejungle = pd.read_csv('www/welcomejungle.csv')
#jobteaser = pd.read_csv('www/jobteaser.csv')


all_jobs = pd.DataFrame()
paths = ['linkedin.csv', 'hellowork.csv']#, 'welcomejungle.csv', 'jobteaser.csv']
for path in paths:
    jobs_data = pd.read_csv(f'www/{path}')
    all_jobs = pd.concat([all_jobs, jobs_data], axis=0)

all_jobs.to_csv('www/all_jobs.csv', index=False)

In [3]:
all_jobs

,Job ID,Title,Company,Location,Description,Date,website,0,1,2,3,4,5,6,7
0,3802843737,Business Intelligence Analyst,HealthStream,"Nashville, TN (On-site)",Business Intelligence Analyst\nHealthStream\nN...,2024/01/14,LinkedIn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3808413532,Shelf Intelligence Data Collection Consultant ...,SymphonyAI Retail CPG,"Denver, CO (On-site)",Shelf Intelligence Data Collection Consultant ...,2024/01/14,LinkedIn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3804831019,Full Stack Engineer,Hewlett Packard Enterprise,"Massachusetts, United States (Remote)",Full Stack Engineer\nHewlett Packard Enterpris...,2024/01/14,LinkedIn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3808921792,Senior Data Engineer,ENGIE Global Energy Management & Sales,"Houston, TX",Senior Data Engineer\nENGIE Global Energy Mana...,2024/01/14,LinkedIn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3802523783,Part-Time Remote Project Data Contributor (No ...,TransPerfect,"Des Moines, IA (Remote)",Part-Time Remote Project Data Contributor (No ...,2024/01/14,LinkedIn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Expert Produit Big Data & Data Science - Servi...,Sopra Steria,NaN,Nantes - 44,Votre futur environnement de travail :Intégré(...,30/01/2024,CDI,f949241f-faef-4bb7-89a8-5348b60d3a47
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consultant Senior - Data For Risk Data Science...,PwC,NaN,Neuilly-sur-Seine - 92,Dans le cadre du développement de nos activité...,17/01/2024,CDI,388183WD
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stage Bac+5 - Data Science H/F,Crédit Agricole du Nord Est,NaN,Reims - 51,SociétéLe groupe Crédit Agricole est le premie...,04/01/2024,Stage,2023-37245
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Soredab Ingénieur en Data Science Stage H/F,Soredab,NaN,Yvelines - 78,"Soredab est le Centre Technique de Recherche, ...",26/01/2024,Stage,1146_1706260733
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stage Ingénieur Data-Science H/F,Groupe Ortec,NaN,Bagneux - 92,Vous serez rattacher à l'équipe data science p...,16/01/2024,Stage,1vvy2716xf