In [3]:
import pandas as pd

all_jobs = pd.DataFrame()
paths = ['linkedin.csv', 'hellowork.csv']#, 'welcometothejungle.csv', 'jobteaser.csv']
for path in paths:
    jobs_data = pd.read_csv(f'www/{path}')
    all_jobs = pd.concat([all_jobs, jobs_data], axis=0)

all_jobs.to_csv('www/all_jobs.csv', index=False)
all_jobs

,Job ID,Title,Company,Location,Description,Date,Site,Contract,Salary,Sector,Duration
0,3817446888,Sr. Data Scientist (NLP),Infotree Global Solutions,United States (Remote),Sr. Data Scientist (NLP)\nInfotree Global Solu...,2024/01/30,LinkedIn,NaN,NaN,NaN,NaN
1,3817435988,Machine Learning Research Intern,Bosch USA,"Pittsburgh, PA (On-site)",Machine Learning Research Intern\nBosch USA\nP...,2024/01/30,LinkedIn,NaN,NaN,NaN,NaN
2,3813158445,Business Analyst II,Centene Corporation,"Florida, United States (Remote)",Business Analyst II\nCentene Corporation\nFlor...,2024/01/30,LinkedIn,NaN,NaN,NaN,NaN
3,3804508220,C5ISR Data Scientist Specialist w/ TS Clearanc...,Deloitte,"San Diego, CA (Hybrid)",C5ISR Data Scientist Specialist w/ TS Clearanc...,2024/01/30,LinkedIn,NaN,NaN,NaN,NaN
4,3808467942,Online Data Analyst,TELUS International,"Frisco, TX (Remote)",Online Data Analyst\nTELUS International\nFris...,2024/01/30,LinkedIn,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
35,f949241f-faef-4bb7-89a8-5348b60d3a47,Expert Produit Big Data & Data Science - Servi...,Sopra Steria,Nantes - 44,Votre futur environnement de travail :Intégré(...,30/01/2024,HelloWork,CDI,NaN,NaN,NaN
36,388183WD,Consultant Senior - Data For Risk Data Science...,PwC,Neuilly-sur-Seine - 92,Dans le cadre du développement de nos activité...,17/01/2024,HelloWork,CDI,NaN,NaN,NaN
37,2023-37245,Stage Bac+5 - Data Science H/F,Crédit Agricole du Nord Est,Reims - 51,SociétéLe groupe Crédit Agricole est le premie...,04/01/2024,HelloWork,Stage,NaN,NaN,NaN
38,1146_1706260733,Soredab Ingénieur en Data Science Stage H/F,Soredab,Yvelines - 78,"Soredab est le Centre Technique de Recherche, ...",26/01/2024,HelloWork,Stage,NaN,NaN,NaN
39,1vvy2716xf,Stage Ingénieur Data-Science H/F,Groupe Ortec,Bagneux - 92,Vous serez rattacher à l'équipe data science p...,16/01/2024,HelloWork,Stage,NaN,NaN,NaN